

:root{
    /* Основные шрифты */
    --main-font : "Open Sanse", sans-serif ;
    --secondary-font: "Raleway", sans-serif ;

    /* Светлая тема текста */

    --accent-txt: #ff6c00;
    --primary-light-txt: #555555;
    --secondary-light-txt: #303030;

/* Темная тема текста*/
    --primary-dark-text: #ffffff;
    --secindary-dark-txt: rgba(157,164,189,0.6);
/* Светлая тема фона*/
--ptymary-light-bg: #ffffff;
--secondary-light-bg: #F7F7F7;

/* Темная тема фона*/
--primary-dark-bg: #191c26;
}

body{
    font-family: var(--main-font);
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: var(--primary-light-txt)   
}
.list{list-style: none ;}
.link {text-decoration: none;}

.subtitle {
    font-family: var(--main-font);
font-weight: 600;
font-size: 11px;
line-height: 1.36;
/* identical to box height */

letter-spacing: 0.1em;
text-transform: uppercase;

color:#303030;


}

.title {
    font-family: var(--secondary-font);
    
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    
    color: #303030;
}

.main-btn {
font-family: var(--secondary-font);
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
text-transform: uppercase;

color: var(--white-txt-cl);
cursor: pointer;
}

/* Header */
.header{
    background-color: var(--primary-dark-bg);
}
.nav-link {
    
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;

color: var(--primry-dark-txt);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-txt) ;
}


.header-phone {
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
text-transform: uppercase;

color: var(--primry-dark-txt)
}

.header-btn




